<!DOCTYPE HTML>
<html lang="en-CA">
<head>
<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hello World</title>
    <link rel="manifest" href="manifest.json" />
    <meta name="description" content="Hello World PWA">
<!-- ios support -->
<link rel="apple-touch-icon" href="/assets/majorityrules2-72_x_72.png" />
<link rel="apple-touch-icon" href="/assets/majorityrules2-96_x_96.png" />
<link rel="apple-touch-icon" href="/assets/majorityrules2-128_x_128.png" />
<link rel="apple-touch-icon" href="/assets/majorityrules2-144_x_144.png" />
<link rel="apple-touch-icon" href="/assets/majorityrules2-152_x_152.png" />
<link rel="apple-touch-icon" href="/assets/majorityrules2-192_x_192.png" />
<link rel="apple-touch-icon" href="/assets/majorityrules2-384_x_384.png" />
<link rel="apple-touch-icon" href="/assets/majorityrules2-512_x_512.png" />
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="no-store" http-equiv="Cache-Control">
<meta name="theme-color" content="#ffffff" />
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<script type="text/javascript" src="/app.js"></script>
</head>
<body style="margin: 0">
<img class="logo" src="/assets/logo.svg">
<div class="nextgame">next game</div>
<div class="gamestatus">7pm tmrw, $200 prize</div>
<div class="profilecard"></div>
<div class="startbtn">invite for extra lives</div>
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.gamestatus {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    width: 100%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, 0px);
    text-align: center;
}
.nextgame {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0px);
    text-align: center;
}
.logo {
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 10%;
}
.center {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
    animation-name: bg_animation;
				animation-duration: 15s;
				animation-timing-function: linear;
				animation-delay: 0;
				animation-iteration-count: infinite;
				animation-direction: alternate;
				animation-play-state: running;
}
.startbtn {
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0px);
    margin-right: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    color: white;
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 15pt;
    font-family: 'Roboto', sans-serif;
}

.profilecard {
    left: 50%;
    height: 45%;
    bottom: 40%;
    border-radius: 20px;
    transform: translate(-50%, 50%);
    background: white;
    width: 90%;
    position: absolute;
}

@keyframes bg_animation {
				0% {
					background-color: hsl(157, 52%, 58%); /* green */
				}
				
				20% {
					background-color: hsl(182, 52%, 57%); /* light blue */
				}

				40% {
					background-color: hsl(225, 46%, 60%); /* blue */
				}

				60% {
					background-color: hsl(280, 45%, 58%); /* purple */
				}

				80% {
					background-color: hsl(323, 40%, 54%); /* pink */
				}

				100% {
					background-color: hsl(32, 52%, 54%); /* orange */
				}

			}
</style>
</body>
</html>